:root {
    font-family: sans-serif;
}




.userCard {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 100px;
    box-shadow: 0 0 5px grey;
    background-color: bisque;
  }
  
  .userCard > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;

  }


  .userCard > h2 {
    margin: -20px;
    color: white;
  }
  
  .userCard > h3 {
    margin: -15px;
    color: white;
    font-size: 0.75rem;
  }

  .userCard > h4 {
    font-size: 0.75rem;
    margin:-15px;
    color: beige;
  }